body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: black;
    background: white;
    /* background: linear-gradient(-0.1turn, #4A5FC3, #4E6DD8, #6EEDFC); */
    height: 100vh;
}

section {
    padding: 160px 100px;
    text-align: center;
}

@media (max-width: 767px) {
    section {
        padding: 100px 0;
    }
}

h1 {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    font-weight: light;
    margin-bottom: 100px;
    font-weight: lighter;
}

.mb-60 {
    margin-bottom: 60px;
}

a {
    color: white;
    font-weight: lighter;
}


a.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white; /* Can be adjusted or removed */
    background: #4E6DD8;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

a.btn:hover {
    background-color: #4A5FC3;
    color: white;
    text-decoration: none;
}

.logo {
  position: fixed;
  top: -160px; 
  right: -160px;
}

.logo img {
  width: 600px;
  height: auto; /* To maintain aspect ratio */
}


@media (max-width: 767px) {
  .logo {
    top: -175px;
    right: -175px; 
  }

  .logo img {
    width: 400px;
  }
}